<header>
  <nav>
    <div class="logo" v-text="data.pageTitle"></div>
    <div class="nav-left">
      <div class="theme-toggle" @click="toggleTheme">
        <div v-if="data.localConfig.userconfig.theme === 'dark'" class="moon-icon"></div>
        <div v-else-if="data.localConfig.userconfig.theme === 'light'" class="sun-icon"></div>
      </div>
      <ul class="nav-links">
        <li><a href="#" @click="data.tab='home'">Home</a></li>
        <li><a href="#" @click="
          if (data.userCtx.login) data.tab='dashboard';
          else data.loginWindow=true;
          ">Dashboard</a></li>
        <li><a href="#" @click="
          if (data.userCtx.login) { 
            data.tab='files'; 
            loadFileList(); 
          } else { 
            data.loginWindow=true;
          }
          ">Files</a></li>
        <li v-if="!data.userCtx.login">
          <a href="#" @click="data.loginWindow=true">Sign In</a>
        </li>
        <li v-else>
          <div class="user-menu-wrapper" @click="data.userCtx.userMenu=!data.userCtx.userMenu">
            <a href="#" v-text="data.userCtx.username"></a>
            <div class="user-menu" v-show="data.userCtx.userMenu">
              <a href="#" @click="onUserProfile">Profile</a>
              <a href="#" @click="onUserSettings">Settings</a>
              <a href="#" @click="doLogout">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- 弹窗的容器 -->
<div class="popup" v-show="data.loginWindow" v-show-bind="onPopLoginWindow">
  <div class="popup-content">
    <span class="close-btn" @click="data.loginWindow=false; data.loginCtx.alertMessage=false">&times;</span>
    <h2>Login & SignUp</h2>
    <div class="alert-message" v-show="data.loginCtx.alertMessage" v-text="data.loginCtx.alertMessage"></div>
    <input type="text" @input="loginInput" placeholder="Username(4~16 char)" @keydown.enter="doLogin(false)">
    <input type="password" @input="loginInput" placeholder="Password(4~16 char)" @keydown.enter="doLogin(false)">
    <button @click="doLogin(false)">Confirm</button>
  </div>
</div>

<main>
  <!-- hidden upload button -->
  <section v-if="data.tab === 'dashboard'">
    <h1>Dashboard</h1>
    <div class="card-container">
      <div class="card" v-show="data.dashboard.cards[0] != null">
        <h3 v-text="data.dashboard.cards[0].header"></h3>
        <p v-var>
          {{bytesToHumanReadbleString(data.dashboard.info.user_max_storage - data.dashboard.info.left_storage)}} used of 
          {{bytesToHumanReadbleString(data.dashboard.info.user_max_storage)}}
        </p>
      </div>
      <div class="card" v-show="data.dashboard.cards[1] != null">
        <h3 v-text="data.dashboard.cards[1].header"></h3>
        <p v-var>{{data.dashboard.info.online_user}} Active Users</p>
      </div>
      <div class="card" v-show="data.dashboard.cards[2] != null">
        <h3 v-text="data.dashboard.cards[2].header"></h3>
        <p v-var>{{data.dashboard.info.online_client}} Connected Clients</p>
      </div>
      <div class="card" v-show="data.dashboard.cards[3] != null">
        <h3 v-text="data.dashboard.cards[3].header"></h3>
        <p></p>
      </div>
    </div>
  </section>
  <section v-else-if="data.tab === 'home'">
    <h1>Welcome to Pulsear</h1>
    <p>Select a section from the navigation menu to get started.</p>
  </section>
  <section v-else-if="data.tab === 'files'" @dragover="onDragOver" @drop="onDrop">
    <div class="gg-software-upload" style="margin-left:3vw" @click="document.getElementById('upload').click()"></div>
    <table class="file-list">
      <thead><tr></tr></thead>
      <tbody></tbody>
    </table>
    <input id="upload" @change="uploadFile" type="file" v-show="false" multiple>
  </section>

  <div class="notification-container" v-show="data.localConfig.notify"></div>
</main>