.gg-software-download {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,0.8));
  width: 16px;
  height: 6px;
  border: 2px solid;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 8px
}
 
.gg-software-download::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 2px;
  bottom: 4px
}

.gg-software-download::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 10px;
  background: var(--text-color);
  left: 5px;
  bottom: 5px
} 
.gg-software-download:hover {
  color: var(--link-hover-color);
}
.gg-software-download:hover::after {
  color: var(--link-hover-color);
}
.gg-software-download:hover::before {
  background: var(--link-hover-color);
}

.gg-software-upload {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 6px;
  border: 2px solid;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 8px
}

.gg-software-upload:hover {
  color: var(--link-hover-color);
}

.gg-software-upload::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
  left: 2px;
  bottom: 4px
}

.gg-software-upload::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 10px;
  background: var(--text-color);
  left: 5px;
  bottom: 3px
} 
.gg-software-upload:hover {
  color: var(--link-hover-color);
}
.gg-software-upload:hover::after {
  color: var(--link-hover-color);
}
.gg-software-upload:hover::before {
  background: var(--link-hover-color);
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
}

.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
}

.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.7));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
}
.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}

.gg-remove:hover {
  color: var(--link-hover-color);
}
.gg-remove:hover::before {
  background: var(--link-hover-color);
}