<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title v-text="data.webTitle"></title>
    <link rel="stylesheet" v-href="data.resources_prefix + 'styles.css'">
</head>
<body>
    <header>
        <nav>
            <div class="logo" v-text="data.pageTitle"></div>
            <ul>
                <li><a href="#" @click="data.tab='home'">Home</a></li>
                <li><a href="#" @click="data.tab='dashboard'">Dashboard</a></li>
                <li><a href="#" @click="data.tab='files'">Files</a></li>
                <li><a href="#" @click="data.tab='settings'">Settings</a></li>
                <li><a href="#" @click="data.tab='about'">About</a></li>
                <li v-if="!data.userCtx.login"><a @click="data.loginWindow=true">Sign In</a></li>
                <li v-else><a v-text="data.userCtx.username"></a></li>
            </ul>
        </nav>
    </header>

    <!-- 弹窗的容器 -->
    <div class="popup" v-show="data.loginWindow" v-show-bind="onPopLoginWindow">
        <div class="popup-content">
            <span class="close-btn" @click="data.loginWindow=false">&times;</span>
            <h2>Login & SignUp</h2> 
            <div class="alert-message" v-show="data.loginCtx.alertMessage" v-text="data.loginCtx.alertMessage"></div>
            <input type="text" v-model="data.loginCtx.usernameInput" placeholder="Username(4~16 char)">
            <input type="password" v-model="data.loginCtx.passwordInput" placeholder="Password(4~16 char)"> 
            <button @click="doLogin">Confirm</button>
        </div>
    </div>

    <main>
        <section v-if="tab === 'dashboard'">
            <h1>Dashboard</h1>
            <div class="card-container">
                <div class="card">
                    <i class="fas fa-hdd fa-4x"></i>
                    <h3>Storage</h3>
                    <p>500 GB used of 1 TB</p>
                </div>
                <div class="card">
                    <i class="fas fa-network-wired fa-4x"></i>
                    <h3>Network</h3>
                    <p>Up: 50 Mbps / Down: 100 Mbps</p>
                </div>
                <div class="card">
                    <i class="fas fa-user-friends fa-4x"></i>
                    <h3>Users</h3>
                    <p>15 Active Users</p>
                </div>
            </div>
        </section>
        <section v-else-if="tab === 'home'">
            <h1>Welcome to Pulsear</h1>
            <p>Select a section from the navigation menu to get started.</p>
        </section>
        <section v-else-if="tab === 'files'">
            <h1>Files</h1>
        </section>
        <section v-else-if="tab === 'settings'">
            <h1>Settings</h1>
        </section>
        <section v-else-if="tab === 'about'">
            <h1>About</h1>
        </section>
    </main>
    <script>
        function observe(data) {
            if (typeof data !== 'object' || data === null) {
                return data;
            }

            const proxy = new Proxy(data, {
                set(target, key, value) {
                    const oldValue = target[key];
                    if (oldValue !== value) {
                        target[key] = value; 
                        refreshDom();
                    }
                }
            });

            for (const key in data) {
                if (data.hasOwnProperty(key)) {
                    data[key] = observe(data[key]);
                }
            }

            return proxy;
        }

        function doRefreshDom(el) {
            Array.from(el.attributes).forEach(attribute => {
                if(!Object.keys(directives).includes(attribute.name)) return;
                    with(data) {
                        directives[attribute.name](el, attribute.value)
                    }
                }
            )
        }

        function doRegisterListeners(el) {
            Array.from(el.attributes).forEach(attribute => {
                if(Object.keys(onceDirectives).includes(attribute.name)) {
                    with(data) {
                        onceDirectives[attribute.name](el, attribute.value)
                    }
                } else if (attribute.name.startsWith("@")) {
                    let event = attribute.name.replace('@', '');
                    let expression = attribute.value;
                    with(data) {
                        el.addEventListener(event, () => {
                            if (typeof eval(expression) === 'function') {
                                window[expression](el)
                            } else {
                                eval(expression)
                            }
                        })
                    }
                }
            })
        }

        function refreshDom() {
            console.log('refresh dom')
            walkDom(document.head, doRefreshDom)
            walkDom(document.body, doRefreshDom)
        }

        function registerListeners() {
            walkDom(document.head, doRegisterListeners)
            walkDom(document.body, doRegisterListeners)
        }

        function walkDom(el, callback) {
            callback(el);
            el = el.firstElementChild;
            while (el) {
                walkDom(el, callback);
                el = el.nextElementSibling;
            }
        }

        function vIfImpl(el, value) {
            let condition_dom_list = []
            while(el) {
                el.style.display = 'none';
                let expression = null;
                ['v-if', 'v-else-if', 'v-else'].forEach(conname => {
                    if (el.hasAttribute(conname)) {
                        expression = el.getAttribute(conname);
                    }
                })
                condition_dom_list.push({dom: el, expr: expression})
                el = el.nextElementSibling;
            } 
            for (i in condition_dom_list) {
                let dom = condition_dom_list[i].dom;
                let expr = condition_dom_list[i].expr;
                let hiti = false;
                with(data) {
                    if (i == condition_dom_list.length - 1 || eval(expr)) {
                        dom.style.display = 'block';
                        break;
                    }
                }
            }
        }

        function onPopLoginWindow(el) {
            el.style.display = "flex"; 
            el.focus(); 
        }

        function doLogin() {
            if (data.loginCtx.usernameInput.length < 4 ||
                data.loginCtx.usernameInput.length > 16) {
                data.loginCtx.alertMessage = "username length not valid";
                console.log(data.loginCtx.alertMessage)
                return;
            }
            if (data.loginCtx.passwordInput.length < 4 ||
                data.loginCtx.passwordInput.length > 16) {
                data.loginCtx.alertMessage = "password length not valid";
                console.log(data.loginCtx.alertMessage)
                return;
            }
            fetch(data.api.login, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                },
                body: JSON.stringify({
                    username: data.loginCtx.usernameInput,
                    password: data.loginCtx.passwordInput,
                })
            }).then(response => {
                if (!response.ok) {
                    data.loginCtx.alertMessage = "server response:" + response.statusText
                    throw new Error(data.loginCtx.alertMessage);
                }
                return response.json();
            }).then(json => {
                console.log('get response: ', json)
                data.userCtx.login = true
                data.userCtx.username = json.username;
                data.userCtx.token = json.token;
                data.loginCtx.alertMessage = "";
                data.loginWindow = false
            }).catch(error => {
                data.loginCtx.alertMessage = "inner error:" + error
                console.log(data.loginCtx.alertMessage)
            })
        }

        function jsSetValue(varString, valueString) {
            const keys = varString.split('.');  
            let obj = window; 
            for (let i = 0; i < keys.length - 1; i++) {
                obj = obj[keys[i]];
            }
            obj[keys[keys.length - 1]] = valueString; 
        }
    </script>

    <script>
        let root = document;
        let prefix_ = 'http://localhost:6543/';
        let rawData = {
            prefix: prefix_,
            resources_prefix: prefix_ + 'resources/',
            tab: 'home',
            webTitle: 'Pulsear',
            pageTitle: 'Pulsear',
            loginWindow: false,
            userCtx: {
                username: "",
                token: "",
                login: false
            },
            loginCtx: {
                usernameInput: "",
                passwordInput: "",
                alertMessage: ""
            },
            api: {
                login: prefix_ + "login",
            }
        }
        data = observe(rawData);
        let directives = {
            'v-text': (el, expr) => {
                el.innerText = eval(expr);
            },
            'v-show': (el, expr) => {
                el.style.display = eval(expr) ? 'block' : 'none';
            },
            'v-show-bind': (el, func) => {
                if (el.style.display != 'none') window[func](el);
            },
            'v-href': (el, expr) => {
                el.href = eval(expr)
            },
            'v-if': vIfImpl,
        }
        let onceDirectives = {
            'v-model': (el, variable) => {
                if (el.tagName === "INPUT") {
                    el.addEventListener('input', function(e) {
                        jsSetValue(this.getAttribute('v-model'), this.value)
                    })
                }
            },
        }
        refreshDom();
        registerListeners();
    </script>
</body>
</html>